.container {
  padding-top: 20px;
  box-sizing: border-box;
  width: 80%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10vh 10%;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  row-gap: 0;
  button.start {
    width: 200px;
    height: 40px;
    background-color: rgb(23, 83, 83);
    border: none;
    margin: auto;
    border-radius: 2px;
    margin: 20px 0;
    transition: all 0.3s ease;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #fff;
      color: rgb(23, 83, 83);
      border: 1px solid #000;
    }
  }
}

.grid {
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px;
  button {
    width: inherit;
    padding: 5px 10px;
    font-size: 16px;
    height: 30px;
    border-radius: 3px;
    background-color: black;
    color: #fff;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    &:hover {
      background: #fff;
      color: #000;
      border: 1px solid #000;
    }
  }
}
