.line {
  height: calc(100vh / 6 - 2px);
  width: 100%;
  border: 1px solid;
  background-image: url('../assets/images/line_grass.jpg');
  background-size: contain;
  position: relative;
  .start {
    position: absolute;
    width: 5px;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.514);
    left: 120px;
    top: 5%;
  }

  h2 {
    font-family: -apple-system, sans-serif;
    font-size: 20px;
    color: #000;
    position: absolute;
  }
}

.animate {
  position: absolute;
  transition: left 2s linear;
  left: 0;
  transform: rotate();
}
